Flask[async]~=3.0.3
Flask-SQLAlchemy~=3.1.1
Flask-Migrate~=4.0.7
Flask-APScheduler~=1.13.1
alembic~=1.13.1
SQLAlchemy~=2.0.30
python-telegram-bot~=21.7
PyGithub~=2.4.0
requirements-parser~=0.11.0
telegramify_markdown~=0.1.15
urllib3~=2.2.3
